/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/


:host {
	align-self: flex-end;
	margin: var(- -lumo-space-m);
	color: white;
	font-family: "Poppins";
}

:host(.bounce) {
     -webkit-animation: bounce 2s;
}

@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(20px, 0px); 
  }

  75%{
    transform: scale(1,1.1) translate(-10px, 0px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

